#centre-column {
    width: calc(62% + 1px);
    /* 4px of the negative margin is to adjust for the whitespace added between
    all inline elements. The remaining 1px is to make the elements overlap so
    that rounding errors on mobile cannot be seen. */
    margin-right: -1px;
}

#left-column {
    width: calc(19% + 1px);
    margin-right: -1px;
}

#right-column {
    float: none;
    width: auto;
    overflow: hidden;
    border-right: solid black 1px;
}

.column {
    float: left;
    height: 100%;
}

.link {
    height: calc(33.33% + 1px);
    margin-bottom: -1px;
}

#medium, #twitter {
    height: 33.33%;
    margin-bottom: 0px;
}
