.column {
    float: left;
    height: 100%;
}

#technology-summary .first-column, #technology-summary .centre-column {
    width: calc(33.33% + 1px);
}

.link {
    height: calc(33.33% + 1px);
    margin-bottom: -1px;
}

.centre-column {
    width: calc(62% + 1px);
    /* Negative margin to make the elements overlap so
    that rounding errors on mobile are hidden. */
    margin-right: -1px;
}

.first-column {
    width: calc(19% + 1px);
    margin-right: -1px;
}

.last-column {
    float: none;
    width: auto;
    overflow: hidden;
    border-right: solid black 1px;
}

#medium, #twitter {
    height: 33.33%;
    margin-bottom: 0px;
}
