#centre-column {
    width: 62%;
}

.column {
    display: inline-block;
    height: 100%;
    /* Adjust for whitespace. */
    margin-right: -4px;
    /* Elements flow normally from the top. */
    /* Default value of 'baseline' caused centre column to render higher than side columns. */
    vertical-align: top;
}

.side-column {
    width: 19%;
}

#logo {
    max-width: 100%;
    max-height: 100%;
    /* Centre in container. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    height: 33.33%;
}
