body {
    background-color: orange;
}

.link, #centre-column {
    background-color: black;
}

.svg-def {
    height: 0;
    width: 0;
    position: absolute;
}
/*
.link {
    -webkit-mask: url(#circle);
}
*/
