body {
    /* background: repeating-linear-gradient(to top right, #FAD64C 0%, #DF1FCC 20%, #FAD64C 4  0%); */
    background: linear-gradient(225deg, #fad64c, #df1fcc, #fad64c, #df1fcc, #fad64c, #df1fcc, #fad64c, #df1fcc);
    background-size: 200% 200%;

    -webkit-animation: LavaFlow 30s ease infinite;
    -moz-animation: LavaFlow 30s ease infinite;
    animation: LavaFlow 30s ease infinite;
}

@-webkit-keyframes LavaFlow {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes LavaFlow {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes LavaFlow {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}

section {
    overflow-y: hidden;
}

.column {
    /* Remove scroll bar. */
    /* TODO Find out why this is necessary. */
    overflow-y: hidden;
}

section {
    height: 100%;
    text-align: center;
}

#business-card {
    height: 100%;
}

h1 {
    padding: 0.2em;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1em;
}

.section-body {
    height: 100vh;
    padding: 1em;
    background-color: black;
    color: white;
}

ul {
    list-style-position: inside; /* Centre bullet points with text. */
}

li {
    margin: 1em;
}

table {
    margin: 0 auto; /* Centre table. */
}

th, td {
    width: 33vw;
    max-width: 13em;
}

svg {
    width: 100%;
    height: 100%;
}

svg text {
    fill: black;
    font-size: 500%;
    dominant-baseline: hanging;
}

svg rect {
    width: inherit;
    height: inherit;
}
