.centre-column {
    position: static;
    display: block;
    height: calc(40% + 1px);
    margin-bottom: -1px;
}

.side-column {
    height: 30%;
}

.link {
    display: block;
    width: auto;
    height: calc(33.33% + 1px);
    margin-bottom: -1px;
}

#medium, #twitter {
    width: 100%;
}

#twitter {
    margin-bottom: 0;
}
