.side-column {
    height: 19%;
}

#centre-column {
    position: relative;
    height: 62%;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}

.link {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    height: 100%;
    /* Adjust for whitespace. */
    margin-right: -4px;
}
