h1, h2, h3, h4, h5, h6 {
    word-break: break-all;
}

.centre-column {
    position: static;
    display: block;
    height: calc(40% + 1px);
    margin-bottom: -1px;
}

.side-column {
    height: 30%;
}

.link {
    display: block;
    width: auto;
    height: calc(33.33% + 1px);
    margin-bottom: -1px;
    margin-right: 0;
}

#twitter {
    margin-bottom: 0;
}
