#centre-column {
    position: static;
    display: block;
    height: 40%;
}

.side-column {
    height: 30%;
}

.link {
    display: block;
    width: auto;
    height: 33.33%;
    border: 1em solid black;
}
