.side-column {
    height: calc(19% + 1px);
    margin-bottom: -1px;
}

.link {
    float: left;
    width: calc(33.33% + 1px);
    height: 100%;
    margin-right: -1px;
}

.centre-column {
    height: calc(62% + 1px);
    margin-bottom: -1px;
    border-right: solid black 1px;
}

#medium, #twitter {
    float: none;
    width: auto;
    overflow: hidden;
    margin-right: 0px;
    border-right: solid black 1px;
}

h1 {
    font-size: 1.3em;
}

#technology-summary .column {
    margin-bottom: 1em; /* Separate lists when displayed one after another. */
}

#technology-summary .last-column {
    margin-bottom: unset;
}

.employer, .job-title, .employment-start-finish, .employment-location, .educator, .grade, .education-start-finish,
.qualification-level, .qualification {
    clear: unset;
    float: unset;
    width: unset;

    text-align: center;
}
